[Unit]
Description=Bridge pesign-client requests to Sigul

[Service]
Type=simple
ExecStart=/usr/bin/sigul-pesign-bridge listen
User=pesign
Group=pesign
Restart=on-failure
# Refer to https://docs.rs/tracing-subscriber/0.3.19/tracing_subscriber/filter/struct.EnvFilter.html#directives
# for more fine-grain logging output.
Environment=SIGUL_PESIGN_BRIDGE_LOG=info
Environment=SIGUL_PESIGN_BRIDGE_CONFIG=/etc/sigul-pesign-bridge/config.toml

# The socket relies on filesystem permissions to control who can request
# signatures; no other authentication is used so it's important the socket
# is not world-readable.
UMask=027

# If the location of the socket is altered, this should be adjusted.
#
# This configuration is intended to behave as a drop-in replacement for
# the pesign daemon.
RuntimeDirectory=pesign
RuntimeDirectoryMode=750
ConfigurationDirectory=sigul-pesign-bridge
ConfigurationDirectoryMode=750

# The service needs to authenticate with Sigul. It does this via a
# password-protected TLS certificate. The password can be provided
# via systemd's Credentials features.
#
# You can use the systemd-creds utility to set up the passphrase file.
# For example:
# $ systemd-ask-password -n | systemd-creds encrypt - /etc/sigul-pesign-bridge/sigul-key-passphrase
#
# For the NSS password, sigul uses getpass if it's not in the config file. We can set the password in
# the configuration file and encrypt the entire thing.
# $ systemd-creds encrypt /secure/ramfs/sigul-client.conf /etc/sigul-pesign-bridge/sigul-client.conf
LoadCredentialsEncrypted=sigul-key-passphrase:/etc/sigul-pesign-bridge/sigul-key-passphrase
LoadCredentialsEncrypted=sigul-client-config:/etc/sigul-pesign-bridge/sigul-client.conf

# Opt-in to most systemd sandboxing
PrivateTmp=true
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true
PrivateDevices=true
ProtectClock=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
# The service offers a Unix socket and communicates with the Sigul bridge over TLS.
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
LockPersonality=true
MemoryDenyWriteExecute=true
RestrictRealtime=true
RestrictSUIDSGID=true
# This can likely be restricted further
SystemCallFilter=@system-service
SystemCallErrorNumber=EPERM
